*.mo
*.pyc
/*.egg-info
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.Python
/.ropeproject
/bin
/build
/develop-eggs
/devsrc
/dist
/docs/html.zip
/downloads
/eggs
/fake-eggs
/include
/lib/
/local.cfg
/local/
/parts
/share/
/src/collective*
/src/plone*
/var
buildout.cfg
docs/doctrees
docs/html
docs/make.bat
docs/Makefile
/EasyNewsletter.sublime-project
/EasyNewsletter.sublime-workspace
/pip-selfcheck.json
/Gruntfile.js
/node_modules
/package.json
/Products/EasyNewsletter/browser/static/font/fontello-2f32f5bf
/temp_resources
/.coverage
/htmlcov

/.plone.versioncheck.cache/

/.plone.versioncheck.tracked.json

/Products.EasyNewsletter_plone4.sublime-project

/extends/
/.vscode/settings.json
/version_report.html
/versions.cfg.1
/versions.cfg.2
/.vscode/
/Products.EasyNewsletter_plone51.sublime-project
/package-lock.json
/src/Products.EasyNewsletter.egg-info/*
/.tox/
/reports
/.coverage.py27-Plone51
*.sublime-project
/.coverage.*
/coverage.xml
/src/Products/EasyNewsletter/tests/easynewsletter-subscribers.csv
/htmlcov_manuell
**/__pycache__/**
/venv
/docs/_build
/venv311/
/.python-version
/huey.log
/src/enl.templates/
