[buildout]
extends =
    base.cfg
    http://dist.plone.org/release/5.1-latest/versions.cfg
    versions.cfg
    versions-5.cfg

#[instance]
#eggs +=
#    collective.taskqueue
#
#zope-conf-additional =
#    <taskqueue>
#    queue Products.EasyNewsletter.queue
#    </taskqueue>
#    <taskqueue-server>
#    queue Products.EasyNewsletter.queue
#    </taskqueue-server>
