[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

parts -= code-analysis

[instance]
#wsgi = off
#eggs +=
#  ZServer

[versions]
#plone.testing = 7.0.1
#Products.DateRangeInRangeIndex = 2.0.1
i18ndude = >=5.3.1


# Added by buildout at 2019-12-13 20:04:29.753420
PyYAML = 3.13
argh = 0.26.2
collective.recipe.vscode = 0.1.4
createcoverage = 1.5
dnspython = 1.16.0
entrypoints = 0.3
fancycompleter = 0.8
flake8 = 3.7.9
i18ndude = 5.3.1
mccabe = 0.6.1
pathtools = 0.1.2
pdbpp = 0.9.11
plone.recipe.codeanalysis = 3.0.1
prompt-toolkit = 1.0.16
pycodestyle = 2.5.0
pyflakes = 2.1.1
watchdog = 0.9.0

# Required by:
# premailer==3.6.1
cachetools = 3.1.1

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.39

# Required by:
# emails==0.5.15
# premailer==3.6.1
cssutils = 1.0.2

# Required by:
# Products.EasyNewsletter==5.0.0a9.dev0
emails = 0.5.15

# Required by:
# Products.EasyNewsletter==5.0.0a9.dev0
html2text = 2019.8.11

# Required by:
# Products.EasyNewsletter==5.0.0a9.dev0
nameparser = 1.0.4

# Required by:
# Products.EasyNewsletter==5.0.0a9.dev0
premailer = 3.6.1

# Required by:
# prompt-toolkit==1.0.16
wcwidth = 0.1.7

# Required by:
# pdbpp==0.9.11
wmctrl = 0.3

# Added by buildout at 2020-03-10 09:51:35.094683
SecretStorage = 3.1.2
jeepney = 0.4.3
keyring = 21.1.1

# Required by:
# SecretStorage==3.1.2
cryptography = 2.8

# Added by buildout at 2021-02-02 15:37:43.011790
isort = 4.3.21
